.auth_tab_link {
  color: gray;
  text-decoration: none;
  outline: none;
}

.auth_tab_link:hover {
  color: lightgray;
  text-decoration: none;
}

.auth_tab_link_active {
  color: orange;
}

.auth_tab_link_active:before {
  content: "";
  height: 2px;
  border-bottom: 2px solid orange;
}

.auth_tab_link_active:hover {
  color: orange;
}
